node_modules
./node-server/.env
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
/nbproject/private/*.jpg
*.log
*.jpeg
*.png
*.gif
